#svg_landing {
  float:left;
  display:inline-block;
}

#right_panel {
  float:left;
  display:inline-block;
  overflow: hidden;
}
#right_panel #search_input {
  margin-left: 2vmax;
  margin-top: 2vmax;
  width: 80%;
}

#genes_labeled {
  width: 100%;
  list-style-type:none;
  margin-top:10px;
  float: left;
}

ul#genes_labeled li {
    display:inline-block;
    float: left;
    background-color: #cccccc;
    padding: 0.5vmax;
    margin-right: 1vmax;
    margin-bottom: 1vmax;
}

svg {
  background-color: #ffffff;
}
body {
  background-color: #eeeeee;
  padding-top: 60px; 
}
.frame {
  fill: none;
  stroke: #000;
}

.axis line {
  stroke:#000;
}
.top_zoom_canvas, .bottom_zoom_canvas {
  fill:#eee;
/*  stroke-width:1;
  stroke:#000;*/
}
.spansplit_connection {
  /*shape-rendering: geometricPrecision;*/
}
.coverage_rect {
  /*fill:#f00;*/
  stroke:#000;
  /*stroke-width:0.5px;*/
  shape-rendering: crispEdges;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 1vmin;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

text {
  font: 1vmax sans-serif;
}
.axis {
   shape-rendering: crispEdges;
   font: 1vmin sans-serif;
}

.sample_title {
  font: 3vmin sans-serif;
}